.theme-aurora {
    --font: 'Roboto', sans-serif;

    --colored-primary: #006633;
    --colored-secondary: #003d20;
    --colored-tertiary: #002d17;

    --blank-primary: #e6f5eb;
    --blank-secondary: #9db8a0;
}
