.theme-cyber {
    --font: 'Roboto', sans-serif;

    --colored-primary: #00ffea;
    --colored-secondary: #00b8a9;
    --colored-tertiary: #007c7a;

    --blank-primary: #f2fdff;
    --blank-secondary: #a3d2ca;
}
