.theme-eclipse {
    --font: 'Roboto', sans-serif;

    --colored-primary: #ff5500;
    --colored-secondary: #9b3500;
    --colored-tertiary: #611900;

    --blank-primary: #fff6e5;
    --blank-secondary: #b89c85;
}
