.theme-ember {
    --font: 'Roboto', sans-serif;

    --colored-primary: #cc4400;
    --colored-secondary: #803000;
    --colored-tertiary: #4d1a00;

    --blank-primary: #fdeee5;
    --blank-secondary: #bfaea3;
}
