.theme-lunar {
    --font: 'Roboto', sans-serif;

    --colored-primary: #5e3f6b;
    --colored-secondary: #3a1d41;
    --colored-tertiary: #280d2e;

    --blank-primary: #f1eaf5;
    --blank-secondary: #bca6bd;
}
