.theme-mystic {
    --font: 'Roboto', sans-serif;

    --colored-primary: #3a3075;
    --colored-secondary: #221b4a;
    --colored-tertiary: #150e30;

    --blank-primary: #e7e3f9;
    --blank-secondary: #a89eb9;
}
