.theme-neptune {
    --font: 'Roboto', sans-serif;

    --colored-primary: #006994;
    --colored-secondary: #00485e;
    --colored-tertiary: #002c39;

    --blank-primary: #e0f4ff;
    --blank-secondary: #9fa8a8;
}
