.theme-retro {
    --font: "Press Start 2P", cursive;

    --colored-primary: #ff8000;
    --colored-secondary: #0080ff;
    --colored-tertiary: #ff0080;

    --blank-primary: #00ff80;
    --blank-secondary: #8000ff;
}
