.theme-stellar-pink {
    --font: 'Roboto', sans-serif;

    --colored-primary: #ff6188;
    --colored-secondary: #dd3552;
    --colored-tertiary: #a6283d;

    --blank-primary: #fde9ec;
    --blank-secondary: #be8b94;
}
