.theme-stellar-white {
    --font: 'Roboto', sans-serif;

    --colored-primary: #f9f9f9;
    --colored-secondary: #d6d6d6;
    --colored-tertiary: #a8a8a8;

    --blank-primary: #8a8a8a;
    --blank-secondary: #686868;
}
