.theme-stellar-blue {
    --font: 'Roboto', sans-serif;

    --colored-primary: #0079c2;
    --colored-secondary: #005f9e;
    --colored-tertiary: #004976;

    --blank-primary: #e5f4ff;
    --blank-secondary: #9fb8c1;
}
