.theme-stellar-red {
    --font: 'Roboto', sans-serif;

    --colored-primary: #ff4f4f;
    --colored-secondary: #d42f2f;
    --colored-tertiary: #a61f1f;

    --blank-primary: #ffe8e8;
    --blank-secondary: #bf9f9f;
}
