.theme-stellar-green {
    --font: 'Roboto', sans-serif;

    --colored-primary: #00a569;
    --colored-secondary: #00794b;
    --colored-tertiary: #005537;

    --blank-primary: #e2f5eb;
    --blank-secondary: #a2bfb0;
}
