.theme-stellar-yellow {
    --font: 'Roboto', sans-serif;

    --colored-primary: #ffcc00;
    --colored-secondary: #e6b800;
    --colored-tertiary: #b38f00;

    --blank-primary: #fff9e5;
    --blank-secondary: #bfaf99;
}
