.theme-stellar-black {
    --font: 'Roboto', sans-serif;

    --colored-primary: #353535;
    --colored-secondary: #242424;
    --colored-tertiary: #000000;

    --blank-primary: #6a6a6a;
    --blank-secondary: #545454;
}
