@keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: var(--blank-primary);
    }
}

.terminal-container {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    padding: 0.5rem;
    background-color: var(--colored-tertiary);
    color: var(--blank-primary);
    overflow-y: auto;

    &.active {
        display: flex;
    }

    pre {
        font-size: 1rem;
    }

    .terminal-input-container {
        display: flex;
        width: 100%;

        .terminal-input {
            font-size: 1rem;
            margin-left: 0.5rem;
            color: inherit;
            background-color: transparent;
            border: none;
            outline: none;
            caret-color: transparent;
        }

        .caret {
            animation: blink 1s infinite;
        }

        .shadow {
            position: absolute;
            white-space: pre;
            opacity: 0;
        }
    }
}
