.sidebar-container {
    width: 20rem;
    background-color: var(--colored-secondary);
    color: var(--blank-primary);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
        margin: 0;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 0.25rem solid var(--colored-tertiary);
    }

    .terminal-list {
        flex-grow: 1;
        overflow-y: auto;
    }

    button {
        padding: 0.5rem 0.75rem;
        border-radius: 0.5rem;
        color: var(--blank-primary);
        background-color: var(--colored-primary);
        border: none;
        outline: none;
        cursor: pointer;

        &:hover {
            background-color: var(--colored-tertiary);
        }
    }
}
