.theme-solarized {
    --font: "Courier New", Courier, monospace;

    --colored-primary: #00586c;
    --colored-secondary: #003541;
    --colored-tertiary: #002833;

    --blank-primary: #eeeeee;
    --blank-secondary: #939393;
}