* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #1e1e1e;
    --text-color: #f5f5f5;
    --primary-font: "Courier New", Courier, monospace;
}

body {
    font-family: var(--primary-font);
    background-color: var(--background-color);
    color: var(--text-color);
}
